@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>

@*@using (Html.BeginForm("LogOff", "Account"))
{
    <input type="submit" class="btn btn-primary" value="OK" />
}*@
@*<a asp-controller="Account" asp-action="Logout" class="btn btn-primary">OK</a>*@